.menu-container {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px black solid;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.section-container {
    border: 1px black solid;
    flex: 0 0;
    width: 50%;
}


.food-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px red solid;
}

.food-item{
    flex: 0 1 50px;
    width: 50%;
    border: 1px black solid;

}

.food-item > h3{
    font-size: 20px;
}

.food-item > h4{
    font-size: 16px;
}
.food-item > p{
    font-size: 14px;
    padding: 0;
}